@import 'stage_tile'

body
  background-color: black

.logger-block
  position: fixed
  bottom: 0
  color: white

.level-map
  > .row
    font-size: 2rem
    font-family: Courier, Monaco, monospace
    word-break: nowrap

.screen
  position: fixed
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

  &.-dead
    color: red
    font-size: 3rem

    -webkit-font-smoothing: antialiased
    text-shadow: 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black
