@import 'stage_tile'

body
  background-color: black

.logger-block
  position: fixed
  bottom: 0
  color: white

.level-map
  > .row
    font-size: 2rem
    font-family: Courier, Monaco, monospace
    word-break: nowrap
